<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>E-Store</title>
    <title>Deposits</title>

    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Circular+Std&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hero+New&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitwise&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Brush+Script MT&display=swap" rel="stylesheet">
    
    <style>
        html, body {
            font-family: Inter, sans-serif;
            font-max-size:  14px;
        }
    </style>
</head>
<body>
    {{{ body }}}
</body>
</html>